* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    display: flex;
    height: 100vh;
}

aside, main{
    display: flex;
    flex-direction: column;
}

aside {
    flex: 1;
    align-items: center;
    background: #706099;
    color: #dddddd;
    position: relative;
    
}

aside > header, aside > footer {
    flex: 1;
    width: 100%;

}

aside > nav {
    flex: 2;
}

aside > span {
    width: 90%;
    height: 1px;
    background: #dddddd;
}

main {
    flex: 5;
    background: #dddddd;
}

aside > header > h1 {
    display: flex;
    flex-direction: column;
    padding: 2vw;
    font-size: 1.8em;
}

