* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    font-size: 1vw;
}

main, main > section:first-of-type  {
    display: flex;
    flex-direction: column;
}

header, section, nav {
    display: flex;
}

header, nav > a{
    color: #ddd;
}

header {
    background: rgba(0, 0, 0, 0.37);
    position: sticky;
    top: 0;
    padding: .6em;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 30vw;
    justify-content: space-around;
    align-items: center;
}

nav > div {
    height: 5px;
    width: 5px;
    border-radius: 100%;
    background: #ddd;
}

h1, nav > a, main > section:first-of-type > h2  {
    text-decoration: none;
    font: bold 1.4em 'Dancing Script', cursive;
}

h1 {
    font-size: 1.8em;
}

main > section:first-of-type {
    margin: 10vh;
    height: 80vh;
}

main > section:first-of-type > h2 {
    font-size: 4em;
}

main > section:first-of-type > p {
    font: 500 1.2em 'Open Sans', sans-serif;
    text-align: justify;
}



