* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    font-size: 1vw;
    background: #271010;
}

main, 
main > section:first-of-type,
main > section:nth-of-type(2)  {
    display: flex;
    flex-direction: column;
}

header, 
section, 
nav,
main > section:nth-of-type(3) {
    display: flex;
}

section {
    margin-top: 10vh;
}

header, 
nav > a, 
main > section:first-of-type > a, 
main > section:first-of-type,
main > section:nth-of-type(2) > a {
    color: #ddd;
}

a:hover {
    filter: brightness(.8);
}

header {
    background: rgba(0, 0, 0, 0.37);
    position: sticky;
    z-index: 1;
    top: 0;
    padding: .6em;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    backdrop-filter: brightness(.6);
    -webkit-backdrop-filter: brightness(.6);
}

nav {
    width: 30vw;
    justify-content: space-around;
    align-items: center;
}

nav > div {
    height: 5px;
    width: 5px;
    border-radius: 100%;
    background: #ddd;
}

h1, nav > a, main > section:first-of-type > h2  {
    text-decoration: none;
    font: bold 1.4em 'Dancing Script', cursive;
}

h1 {
    font-size: 1.8em;
}

section {
    margin-inline: 10vh;
}


main > section:first-of-type {
    height: 72vh;
    width: 80%;
    align-self: center;
    position: relative;
}

main > section:first-of-type > div {
    background: url('./images/brasa.jpg');
    height: 100%;
    width: 80%;
    filter: brightness(.3);
    position: absolute;
    right: 0;
    background-size: cover;
    z-index: -1;
    border-radius: 70px 0px 70px 0px;
} 

main > section:first-of-type > h2 {
    font-size: 4em;
}

main > section:first-of-type > p {
    font: 500 1.3em 'Open Sans', sans-serif;
    text-align: justify;
    padding-inline: 1.8em;
    text-indent: .8em;
}

main > section:first-of-type > p:first-of-type {
    padding-top: 1.8em;
}

main > section:first-of-type > a {
    align-self: center;
    margin: 1em;
    padding: .5em 2em .5em 2em;
    font: 500 1.6em 'Open Sans', sans-serif;
    background: #441010af;
    text-decoration: none;
    border-radius: 10px;
}

/* ----------------------------------------------- */

main > section:nth-of-type(2) {
    background: url('./images/cozinha.jpg');
    width: 80%;
    align-self: center;
    background-size: cover;
    background-position: center;
    background-size: 100%;
    position: relative;
    transition: .8s ease-in-out;
    border-radius: 10px;
}

main > section:nth-of-type(2):hover {
    background-size: 120%;
    transition: .8s ease-in-out;
}

main > section:nth-of-type(2) > a {
    text-decoration: none;
    font: 300 2em 'Roboto', sans-serif;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%;
    background: #00000099;
    border-radius: 10px;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    filter: none;
    transition: .8s linear;
}

main > section:nth-of-type(2) > a:hover {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
} 

/* ----------------------------------------------- */

main > section:nth-of-type(3) {
    position: relative;
    height: 80vh;
    width: 80%;
    align-self: center;
    background-color: #00000060;
    gap: 20px;
}

main > section:nth-of-type(3) > div:first-of-type {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main > section:nth-of-type(3) > div:first-of-type > div{
    flex: 3;
    gap: 20px;
    display: flex;
}

main > section:nth-of-type(3) > div:first-of-type > div > article:first-of-type {
    background: url('./images/carreDeCordeiro.jpg');
    background-size: 100%;
}

main > section:nth-of-type(3) > div:first-of-type > div > article:nth-of-type(2) {
    background: url('./images/carneAssada.jpg');
    background-size: 100%;
    
}

main > section:nth-of-type(3) > div:first-of-type > div > article:last-of-type {
    background: url('./images/saladaSendoTemperada.jpg');
    background-size: 100%;
}

main > section:nth-of-type(3) > div:first-of-type > div > article {
    background-position: center;
    flex: 1;
}

main > section:nth-of-type(3) > div:first-of-type > article {
    flex: 2;
    background: url('./images/freshSalad.jpg');
    background-position: center;
    background-size: cover;
}

main > section:nth-of-type(3) > div:last-of-type {
    flex: 1;
    display: flex;
    flex-direction: column;
}

main > section:nth-of-type(3) > div:last-of-type > article{
    flex: 1;
    background: url('./images/tigelaDeSalada.jpg');
    background-position: center;
    background-size: 100%;
}

article > div {
    height: 100%;
    color: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    transition: .3s ease-in-out;
}

article:hover > div {
    color: #ddd;
    backdrop-filter: brightness(.3);
    -webkit-backdrop-filter: brightness(.3);
}

article div > h3 {
    padding-top: 2em;
    padding-inline: 1em;
    font: 500 2em 'Open Sans', sans-serif;
    text-align: center;
}

article div > p {
    text-align: center;
    font: 300 1.2em 'Open Sans', sans-serif;
    padding-inline: 1em;
}

